@import "../../variables/variables.css";

.form-accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.select-accordion{
    width: 70%;
}
.text-accordion{
    width: 70%;
    margin-top: 10px !important;
}
