@import "../../variables/variables.css";

.navbar-toggle-button {
  color: var(--neutral) !important;
}
.selected {
  color: var(--neutral) !important;
  border-radius: 5px !important;
  border: solid 1px var(--neutral) !important;
}
