@import "../../variables/variables.css";

.container-menu {
  display: flex;
  align-items: center;
}
.container-main {
  height: 93vh;
}
.container-add-table {
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin: 20px 0px;
}
