@import "../../variables/variables.css";

.add {
  position: fixed;
  margin: 10px 0px !important;
  left: 20%;
}
.type{
    color:var(--neutral) !important;
}
.type-selected{
    color:var(--confirm) !important;
}
.MuiTableCell-root.MuiTableCell-body {
    width: 10%;
}
.delete {
    margin-left: 10px;
    color:var(--warning);
}
.mod{
    color: var(--focus);
}