@import "../../variables/variables.css";

.add {
  position: fixed;
  margin: 10px 0px !important;
  left: 70%;
}
.type{
    color:var(--neutral) !important;
}
.type-selected{
    color:var(--confirm) !important;
}