@import "../../variables/variables.css";

.type {
  color: var(--neutral) !important;
}
.type-selected {
  color: var(--confirm) !important;
}
.table-body-order .MuiTableCell-root {
  color: var(--neutral);
  height: 35px;
  max-width: 52px;
}
.container-add {
  border-radius: 20rem;
  corner-shape: squircle;
  width: 96%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 10%;
  background-color: var(--secondary);
}
.close{
  color:var(--neutral);
  width: 50px;
  height: 50px;
  position:sticky;
  top: 2%;
  left:80%;
  border:solid 2px var(--neutral);
  border-radius: 10px;
}
.note{
  color:var(--warning)!important;
  border-left:solid 2px var(--warning);
  border-right:solid 2px var(--warning);
  border-bottom:solid 2px var(--warning)!important;
}


